.emoji-picker-header {
    display: flex;
}

.emoji-picker-header-button {
    border-radius: 0;
    flex: 50%;
}

.emoji-picker-content {
    display: flex;
    flex-direction: row;
    width: 676px;
    height: 676px;
    will-change: transform;
    transition: transform 250ms ease-out;
    overflow: hidden;
}

.emoji-picker-content-stickers {
    transform: translateX(-338px);
}
